/* Controls Intro Name Animation */
.intro-name { -webkit-animation: name 3s; animation: name 3s; }

/* Controls Intro Role Animation */
.intro-role-gamedesign { -webkit-animation: role-gamedesign 3s; animation: role-gamedesign 3s; }

.intro-role-characterdesign { -webkit-animation: role-characterdesign 4s; animation: role-characterdesign 4s; }

.intro-role-animations { -webkit-animation: role-animations 5s; animation: role-animations 5s; }

/* Fades and translation animation */
@-webkit-keyframes name { 0% { opacity: 0; }
  10% { opacity: 0;
    margin-left: -50rem; }
  55% { opacity: 0; }
  70% { letter-spacing: -25px; } }
@keyframes name { 0% { opacity: 0; }
  10% { opacity: 0;
    margin-left: -50rem; }
  55% { opacity: 0; }
  70% { letter-spacing: -25px; } }

@-webkit-keyframes role-gamedesign { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }

@keyframes role-gamedesign { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }

@-webkit-keyframes role-characterdesign { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }

@keyframes role-characterdesign { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }

@-webkit-keyframes role-animations { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }

@keyframes role-animations { 0% { opacity: 0; }
  70% { opacity: 0;
    margin-left: -40rem; } }
