html{
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
  background-color: rgb(22, 22, 22);
  
}

.element-container {
  display:flex;
  width: 100%;
  flex-direction: row;
  flex-basis: 100%;
  flex-wrap: wrap;
}

.element-container-col{
  display:flex;
  width: 100%;
  flex-direction: column;
  flex-basis: 100%;
  flex-wrap: wrap;
  background: #48cf90;

}

.element-section {
  padding-bottom: 2rem;
  border-top-width: 0.15rem;
  border-top-style: solid;
  border-top-color: white;
}

.container-border{
  border: solid;
  border-color: white;
  margin: 10px;
}

.label-container{
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: center;
  color: white;
}

.empty-block{
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
  background-color: transparent;
}

.service-container{
  display: flex;
  flex-basis: 33.33%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  font-size: 1.2rem;
  color: black;
  background: #48cf90;
}

#fineline{
  font-weight: bold;
}

.service-offer{

  margin-left: 3em;
  margin-right: 3em;
}


.footer{
  display: block;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  background-color: #48cf90;
}

@media only screen and (max-width: 1200px) {
  .inline-bottom-left-text{
    left: 19rem;
}
}

@media only screen and (max-width: 870px) {

  .element-container{
      justify-content: center;
      flex-basis: 100%;
  }

  .element-container-col{
    width: 100%;
  }

  /* 
  .label-justify-content{
    padding: 0px;


  }
   */

  .message-box{
    width: 100%;
    height: 20rem;
  }

  .nav-button{
    width: 100%;
    height: 100%;
  }

  .nav-main-items{
    margin: 1rem;
    width: 100%;
    height: 100%;
  }

  .submit-reset-button{
    width: 100%;
    height: 5rem;
  }

  .justify-body-content{
      flex-basis: 100%;
      width: auto;
  }

  .justify-centered-body-content{
      flex-basis: 100%;
      width: auto;
      text-align: left;
      padding-left: 2%;
      padding-right: 2%;
  }

  .justify-left-header-content{
      flex-basis: 100%;
      width: auto;
      text-align: center;
  }

  .inline-bottom-left-text{
      flex-basis: 100%;
      width: auto;
      top: 25%;
      left: 25%;
      max-width: 10em;
  }

  .banner-text{
      font-size: 2rem;
  }
  
  .header-banner{
      width: 100%;
      height: 20rem;
  }

  .overlay-banner{
    width: 100%;
    height: 23rem;
  }

  .img-body-banner{
    width: 100%;
    height: 20rem;
  }

  .project-thumbnail{
      flex-basis: 100%;
      width: 100%;
      height: 100%;
  }

  .project-screenshot{
    flex-basis: 100%;
    width: 100%;
    height: 69%;
}

  .container-border{
    width: auto;
  }

  .imageGrid{
    flex-basis: 100%;
  }

  .justify-body-content {
    flex-basis: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .justify-centered-body-content{
    padding-left: 7.5%;
    padding-right: 7.5%;
  }
  .service-justify-content{
    flex-basis: 100%;
    padding: 2em;
  }

  .label-justify-content{
    padding-left: 8%;
  }

  .label-justify-content-inputs{
    flex-basis: 100%;
  }

  textarea{
    width: 100%;
  }

  #firstname{
    max-width: 30rem;
    height: 100%;
  }

  #lastname{
    max-width: 30rem;
    height: 100%;
  }
  .project-thumbnail-content {
    top: 75%;
  }

  .intro-wrapper{
    height: 100%;
    width: 100%;
  }

  .intro-text{
    text-align: left;
    margin: 2rem;
  }

  .justify-centered-left-body-content{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100%;
  }

  .justify-project-body-content{
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .project-screenshot{
    width: 100%;
    height: 100%;
  }

  .header-contents{
    margin-top: 0rem;
  }


}
form{
  background: #424242;
}




/* Extra programming help from: https://www.w3schools.com/
All images used are originals */