 .nav-main{
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    margin: 0px;
    background-color: #48cf90;
    z-index: 1;
  }

  
  .nav-main-items{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    flex-direction: row;
    flex-basis: 15%;
    color:black;
    background-color: #48cf90;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    justify-content: flex-end;
    z-index: 1;
    transition-property: background-color;
    transition-duration: 0.75s;
  }
  
  .nav-main-items:hover, .nav-main-items:focus {
    background-color: #08331f;
    color: white;
  }
  
  .in-text-nav{
    color:#39a773;
    transition-property: color;
    transition-duration: 0.5s;
  }
  
  .in-text-nav:hover, .in-text-nav:focus{
    color: white;
  }

  .text-input{
    border-radius: 10px;
    height: 2rem;
    max-width: 37rem;
    background-color: white;
    border: none;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 5px;
    margin: 10px 0px ;
    box-sizing: border-box;
  }
  
  .nav-button{
    flex-basis: 100%;
    border-radius: 10px;
    width: 25em;
    color: white;
    background-color: black;
    border: none;
    box-shadow: 0px 0px 10px black;
    transition-duration: 0.5s;
  }
  
  .nav-button-text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
  }
  
  .submit-reset-button{
    border-radius: 10px;
    width: 10em;
    height: 3em;
    color: white;
    background-color: rgb(26, 26, 26);;
    border: none;
    transition-duration: 0.5s;
  }

  .video-url{
    border: none;
    justify-content: center;
  }
  
  .nav-button:hover, .nav-button:focus, .submit-reset-button:hover, .submit-reset-button:focus{
    background-color: #08331f;
    color: white;
  }
  #project-flower-box{
    margin: 2em;
  }
  #project-bunker{
    margin-bottom: 5rem;
  }