body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0px;
  color: #9e059e;
  letter-spacing: 1px;
}

label{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
}

ul{
  font-size: 1.2rem;
}

.banner-text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
  font-size: 3rem;
  color: #9e059e;
  text-align: left;
}

.inline-bottom-left-text {
  position: absolute;
  background-color: transparent;
  top: 25%;
  left: 25%;
  max-width: 40em;
  text-decoration-line: none;
  color: #9e059e;
  transform: translate(-50%, -50%);
}


.header-contents{
  display: flex;
  justify-content: center;
  background-color: transparent;
  margin-top: 8rem;
  margin-bottom: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  text-decoration: #9e059e;
  text-decoration-line: none;
  font-size: 2rem;
}

.image-descritption-contents{
  display: flex;
  justify-content: center;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  text-decoration: #9e059e;
  text-decoration-line: none;
  font-size: 2rem;
}

.justify-body-content{
  display: flex;
  flex-basis: 50%;
  padding-left: 7%;
  padding-right: 7%;
  text-align: left;
  font-size: 1.2rem;
  color: #9e059e;
  background: transparent;
  letter-spacing: 1px;
  line-height: 150%;
}

.justify-project-body-content{
  display: flex;
  flex-basis: 100%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
  font-size: 1.2rem;
  color: #9e059e;
  background: transparent;
  letter-spacing: 1px;
  line-height: 150%;
}

.justify-centered-body-content{
  display: flex;
  flex-basis: 100%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  font-size: 1.2rem;
  color: #9e059e;
  background: transparent;
  letter-spacing: 1px;
  line-height: 150%;
}

.justify-centered-left-body-content{
  display: flex;
  flex-basis: 100%;
  padding-left: 25%;
  padding-right: 25%;
  text-align: left;
  font-size: 1.2rem;
  color: #9e059e;
  background: transparent;
  letter-spacing: 1px;
  line-height: 150%;
}


.label-justify-content-inputs{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  color: #9e059e;
}

.label-justify-content{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: transparent;
  font-size: 1.2rem;
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 7%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  user-select: none;
}
.label-justify-content input{
  display: none;

}

.service-type{
  text-align: left;
  font-size: 2em;
  background-color: transparent;
}

.service-justify-content{
  flex-basis: 50%;
  padding: 2em;
  background-color: #424242;
  border: 10px;
  border-color: white;
  box-shadow: 0px 0px 10px black;
}

.justify-footer-content{
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
  font-size: 0.5rem;
  color: black;
  background: transparent;
  letter-spacing: 2px;
  margin-top: 2rem;
}

.intro-text-name{
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  background-color: transparent;
  white-space: nowrap ;
  max-width: 50rem;
  font-size: 72px;
  font-weight: 500;
}

.intro-text-role{
  position: absolute;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  max-width: 50rem;
  background-color: transparent;
  white-space: nowrap ;
  font-size: 30px;
}

.content-container{
  display: flex;
  flex-basis: 40%;
}

.figure-caption{
  text-align: center;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  text-decoration: none;
  font-style: italic;
}

.justify-right-figure-caption{
  padding-left: 56rem;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  text-decoration: none;
  font-style: italic;
}

.justify-left-figure-caption{
  padding-left: 10rem;
  background-color: transparent;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #9e059e;
  text-decoration: none;
  font-style: italic;
}

#project-bunker-thumbnail1{
  padding-left: 61rem;
}

#project-hole-thumbnail1{
  padding-left: 60rem;
}

#project-hole-thumbnail2{
  padding-left: 12rem;
}